<% @profiles.each do |profile| %>
<div class="row">
  <h2><dt><%= profile.name %></dt></h2>
  <%
  profile.instances.each do |i|
    instance_info = @instances.select { |e| e[:hostname] == i.hostname }.first %>
    <%= render partial: "item", locals: { instance_info: instance_info } %>
  <% end %>
</div>
<% end %>

<div class="row">
  <h2><dt>Sem Profile</dt></h2>
  <% @instances.select{ |e| e[:profile] == false }.each do |instance_info| %>
    <%= render partial: "item", locals: { instance_info: instance_info } %>
  <% end %>
</div>
